@import '@/scss/colors.scss';

.homePage {
    width: 100%;

    &__sliderWrap {
        width: 100%;
        height: 500px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;

        &__slider {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            transform: translateX(0);
            transition: ease 1s;

            &__slide {
                width: 100%;
                height: 100%;
                flex: 0 0 100%;
                position: relative;
    
                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
    
                &__inf {
                    position: absolute;
                    right: 21%;
                    bottom: 27%;
                    width: 360px;
    
                    & h3 {
                        font-weight: 400;
                        font-size: 36px;
                        line-height: 40px;
                    }
    
                    & p {
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 40px;
                    }
    
                    &__btn {
                        margin-top: 12px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        cursor: pointer;
                        width: 267px;
                        height: 58px;
                        background: $mainColor1;
                        padding: 0 19px 0 13px;
                        transition: all .3s;
    
                        & p {
                            font-weight: 500;
                            font-size: 24px;
                            line-height: 40px;
                        }
    
                        & svg {
                            width: 24px;
                            height: 34px;
    
                            & g path {
                                transition: all .3s;
                            }
                        }
    
                        &:hover {
                            transition: all .3s;
                            color: $mainColor2;
    
                            & svg g path {
                                transition: all .3s;
                                fill: $mainColor2;
                            }
                        }
                    }
                }
            }
        }

        &__buttons {
            display: flex;
            position: absolute;
            bottom: 16px;

            &__btn {
                width: 12px;
                height: 12px;
                background: transparent;
                border: 3px solid $mainColor1;
                border-radius: 50%;
                margin-right: 5px;

                &:last-child {
                    margin-right: 0;
                }

                &:hover {
                    background: $mainColor1;
                    cursor: pointer;
                }

                &.active {
                    background: $mainColor1;
                }
            }
        }
    }

    &__novelty {
        margin: 20px 40px 0 40px;

        &__header {
            font-weight: 400;
            font-size: 64px;
            line-height: 71px;
            text-transform: lowercase;
            color: $mainColor3;
            margin-bottom: 22px;
            margin-left: 142px;
        }

        &__sliderWrap {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &__control {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-right: 32px;

                &__left svg, &__right svg {
                    width: 40px;
                    height: 40px;
                    cursor: pointer;

                    & path {
                        fill: $mainColor3;
                    }

                    &:hover {
                        & path {
                            fill: $mainColor1;
                        }
                    }
                }

                &__left {
                    transform: rotate(180deg);
                    margin-right: 30px;
                }

                &__left, &__right {
                    display: flex;
                    align-items: center;
                }
            }

            &__slider {
                width: 100%;
                display: flex;
                overflow: hidden;

                &__slide {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    width: 100%;
                    transform: translateX(0);
                    transition: ease 1s;

                    &__product {
                        padding-right: 100px;
                        text-decoration: none;
                        flex: 0 0 25%;

                        &:last-child {
                            margin-right: 0;
                        }

                        & img {
                            width: 100%;
                            height: 310px;
                            object-fit: contain;
                            cursor: pointer;
                        }

                        &__inf {
                            width: 100%;
                            margin-top: 15px;

                            &:hover {
                                & p, & h3 {
                                    color: $mainColor3;
                                    cursor: pointer;
                                }
                            }

                            &__about {
                                font-weight: 700;
                                font-size: 11px;
                                line-height: 12px;
                                color: $mainColor4;
                                text-align: right;
                                text-transform: uppercase;
                            }

                            &__name {
                                font-weight: 700;
                                font-size: 22px;
                                line-height: 24px;
                                text-align: right;

                                color: $mainColor4;
                            }

                            &__price {
                                font-weight: 700;
                                font-size: 18px;
                                line-height: 20px;

                                color: $mainColor4;
                                text-align: right;
                            }

                            &.left {
                                & p, & h3{
                                    text-align: left;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1800px) {
    .homePage__novelty__header {
        font-size: 60px;
        line-height: 65px;
    }

    .homePage__novelty__sliderWrap__control {
        margin-right: 24px;
    }

    .homePage__novelty__sliderWrap__slider__slide__product {
        padding-right: 50px;

        & img {
            height: 300px;
        }
        
        .homePage__novelty__sliderWrap__slider__slide__product__inf {
            & h3 {
                font-size: 19px;
                line-height: 21px;        
            }
        }
    }
}

@media screen and (max-width: 1500px) {
    .homePage__novelty__sliderWrap__slider__slide__product {
        & img {
            height: 270px;
        }

        .homePage__novelty__sliderWrap__slider__slide__product__inf {
            &__about {     
                font-size: 10px;
                line-height: 11px;
            }

            & h3 {
                font-size: 18px;
                line-height: 20px; 
            }

            &__price {
                font-size: 16px;
                line-height: 18px;
            }
        }
    }
}

@media screen and (max-width: 1360px) {
    .homePage__novelty__sliderWrap__control {
        margin-right: 20px;

        &__left svg, &__right svg {
            width: 32px;
            height: 32px;
        }

        &__left {
            margin-right: 25px;
        }
    }

    .homePage__novelty__sliderWrap__slider__slide__product {
        padding-right: 30px;

        & img {
            height: 240px;
        }

        .homePage__novelty__sliderWrap__slider__slide__product__inf {
            & h3 {
                font-size: 15px;
                line-height: 17px;
            }
        }
    }
}

@media screen and (max-width: 1130px) {
    .homePage__novelty__sliderWrap__slider__slide__product {
        flex: 0 0 50%;
        padding-right: 100px;

        & img {
            height: 310px;
        }
    }
}

@media screen and (max-width: 980px) {
    .homePage__novelty__sliderWrap__slider__slide__product {
        padding-right: 50px;
    }
}

@media screen and (max-width: 750px) {
    .homePage__sliderWrap {
        height: 400px;

        &__slider__slide__inf {
            right: 8%;
            bottom: 24%;
            width: 277px;

            & h3 {
                font-size: 26px;
                line-height: 30px;
            }

            & p {
                font-size: 16px;
                line-height: 20px;
            }

            &__btn {
                width: 211px;
                height: 50px;

                & p {
                    font-size: 18px;
                    line-height: 20px;
                }

                & svg {
                    width: 18px;
                    height: 20px;
                }
            }
        }
    }

    .homePage__novelty__header {
        font-size: 40px;
        line-height: 45px;
        margin-left: 40px;
    }

    .homePage__novelty__sliderWrap {
        flex-direction: column;

        &__control {
            width: 100%;
            justify-content: flex-end;
        }

        &__slider__slide__product {
            padding-right: 50px;
        }
    }
}

@media screen and (max-width: 600px) {
    .homePage__novelty__sliderWrap__slider__slide__product {
        & img {
            height: 240px;
        }

        &__inf {
            &__about {
                font-size: 8px;
                line-height: 9px;
            }

            & h3 {
                font-size: 12px;
                line-height: 14px;
            }

            &__price {
                font-size: 11px;
                line-height: 13px;
            }
        }
    }
}

@media screen and (max-height: 1000px) {
    .homePage__sliderWrap {
        height: 400px;

        &__slider__slide__inf {
            right: 8%;
            bottom: 24%;
            width: 277px;

            & h3 {
                font-size: 26px;
                line-height: 30px;
            }

            & p {
                font-size: 16px;
                line-height: 20px;
            }

            &__btn {
                width: 211px;
                height: 50px;

                & p {
                    font-size: 18px;
                    line-height: 20px;
                }

                & svg {
                    width: 18px;
                    height: 20px;
                }
            }
        }
    }
}

@media screen and (max-height: 890px) {
    .homePage__novelty__header {
        font-size: 45px;
        line-height: 50px;
        margin-left: 40px;
    }

    .homePage__novelty__sliderWrap__slider__slide__product img {
        height: 250px;
    }
}

@media screen and (max-height: 840px) {
    .homePage__sliderWrap {
        height: 350px;

        &__slider__slide__inf {
            right: 11%;
            bottom: 32%;
            width: 236px;

            & h3 {
                font-size: 18px;
                line-height: 20px;
            }

            & p {
                font-size: 12px;
                line-height: 15px;
            }

            &__btn {
                width: 168px;
                height: 40px;

                & p {
                    font-size: 13px;
                    line-height: 15px;
                }

                & svg {
                    width: 15px;
                    height: 17px;
                }
            }
        }
    }

    .homePage__novelty__sliderWrap__slider__slide__product img {
        height: 185px;
    }
}