@import '@/scss/colors.scss';

.listProducts {
    &__head {
        width: 100%;
        height: 367px;
        position: relative;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        & h1 {
            position: absolute;
            bottom: 25px;
            right: 12%;
            width: 580px;

            font-weight: 600;
            font-size: 60px;
            line-height: 60px;
            text-transform: uppercase;

            color: $mainColor2;
        }
    }

    &__body {
        padding: 45px 110px;

        &__sorted {
            width: 100%;
            height: 52px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 75px;

            &__sort {
                width: 350px;
                border-bottom: 3px solid $mainColor3;
                padding-bottom: 10px;
                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: center;

                &__delete {
                    margin-right: 13px;
                    opacity: 0;
                    pointer-events: none;
                    cursor: pointer;
                }

                & > p {
                    font-weight: 500;
                    font-size: 30px;
                    line-height: 40px;
                    color: $mainColor3;
                    margin-left: 13px;
                    cursor: pointer;
                }

                &__dropMenu {
                    position: absolute;
                    top: 63px;
                    width: 100%;
                    padding: 20px;
                    box-shadow: 4px 4px 4px 1px $mainColor3WithOpacity;
                    background: $mainColor2;

                    opacity: 0;
                    user-select: none;
                    overflow: hidden;
                    transition: ease .5s;

                    & > p {
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 40px;
                        color: $mainColor4;
                        text-transform: lowercase;
                        cursor: pointer;
                        transition: ease .3s;

                        &:hover {
                            margin-left: 10px;
                            transition: ease .3s;
                        }

                        &.choice {
                            text-shadow: 1px 1px 1px $mainColor3WithOpacity,
                            1px 1px 1px $mainColor3WithOpacity;
                        }
                    }

                    &.open {
                        opacity: 1;
                        user-select: auto;
                    }
                }

                &:hover {
                    & > p {
                        opacity: 0.8;
                    }
                    
                    & .listProducts__body__sorted__sort__delete {
                        opacity: 0.8;
                        pointer-events: auto;
                    }
                }
            }

            &__search {
                width: 525px;
                border-bottom: 3px solid $mainColor3;
                padding: 0 13px 10px 13px;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-between;

                &__input {
                    margin-right: 5px;
                    width: 100%;
                    font-weight: 500;
                    font-size: 30px;
                    line-height: 40px;
                    color: $mainColor3;
                    border: none;
                    outline: none;
                }

                &__btn {
                    cursor: pointer;
                    transition: ease .3s;

                    &:hover {
                        transform: scale(1.3);
                        transition: ease .3s;
                    }
                }
            }
        }

        &__products {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-wrap: wrap;

            &__product {
                width: 350px;
                margin-bottom: 75px;
                text-decoration: none;

                &:last-child {
                    margin-right: 0;
                }

                & img {
                    width: 100%;
                    height: 340px;
                    object-fit: cover;
                    cursor: pointer;
                }

                &__inf {
                    width: 100%;
                    margin-top: 15px;

                    &:hover {
                        & p, & h3 {
                            color: $mainColor3;
                            cursor: pointer;
                        }
                    }

                    &__about {
                        font-weight: 700;
                        font-size: 11px;
                        line-height: 12px;
                        color: $mainColor4;
                        text-align: right;
                        text-transform: uppercase;
                    }

                    &__name {
                        font-weight: 700;
                        font-size: 22px;
                        line-height: 24px;
                        text-align: right;

                        color: $mainColor4;
                    }

                    &__price {
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 20px;

                        color: $mainColor4;
                        text-align: right;
                    }

                    &.left {
                        & p, & h3{
                            text-align: left;
                        }
                    }
                }
            }

            &__none {
                width: 100%;
                text-align: center;
                margin-top: 150px;
                font-weight: 500;
                font-size: 48px;
                line-height: 53px;
                color: $mainColor3;
            }
        }
    }
}

@media screen and (max-width: 1390px) {
    .listProducts {
        &__head {
            height: 300px;

            & h1 {
                font-size: 42px;
                line-height: 48px;
            }
        }

        &__body {
            padding: 35px 90px;

            &__sorted {
                height: 40px;
                margin-bottom: 65px;

                &__sort {
                    width: 315px;
                    padding-bottom: 5px;

                    & > p {
                        font-size: 25px;
                        line-height: 30px;
                    }

                    &__delete svg {
                        width: 30px;
                        height: 30px;
                    }

                    &__dropMenu {
                        top: 45px;

                        & > p {
                            font-size: 18px;
                            line-height: 35px;
                        }
                    }
                }

                &__search {
                    width: 425px;

                    &__input {
                        font-size: 25px;
                        line-height: 35px;
                    }
                }
            }

            &__products {
                &__product {
                    width: 300px;
                    margin-bottom: 50px;

                    & img {
                        height: 290px;
                    }

                    &__inf {
                        &__about {
                            font-size: 9px;
                            line-height: 11px;
                        }

                        &__name {
                            font-size: 20px;
                            line-height: 22px;
                        }

                        &__price {
                            font-size: 16px;
                            line-height: 18px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1120px) {
    .listProducts {
        &__head {
            height: 245px;

            & h1 {
                font-size: 30px;
                line-height: 40px;
                width: 435px;
                bottom: 40px;
            }
        }

        &__body {
            padding: 35px 65px;

            &__sorted {
                margin-bottom: 50px;

                &__sort {
                    width: 280px;

                    & > p {
                        font-size: 23px;
                        line-height: 28px;
                    }

                    &__delete svg {
                        width: 25px;
                        height: 25px;
                    }

                    &__dropMenu {
                        top: 37px;

                        & > p {
                            font-size: 15px;
                            line-height: 27px;
                        }
                    }
                }

                &__search {
                    width: 335px;
                    padding: 0 13px 7px 13px;

                    &__input {
                        font-size: 20px;
                        line-height: 25px;
                    }

                    &__btn {
                        width: 26px;
                        height: 25px;
                    }
                }
            }

            &__products {
                &__product {
                    width: 250px;
                    margin-bottom: 50px;

                    & img {
                        height: 240px;
                    }

                    &__inf {
                        &__about {
                            font-size: 7px;
                            line-height: 10px;
                        }

                        &__name {
                            font-size: 18px;
                            line-height: 20px;
                        }

                        &__price {
                            font-size: 15px;
                            line-height: 17px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 950px) {
    .listProducts {
        &__head {
            height: 210px;

            & h1 {
                width: 330px;
                bottom: 30px;
            }
        }

        &__body {
            padding: 35px 45px;

            &__sorted {
                margin-bottom: 40px;
                height: 35px;

                &__sort {
                    width: 235px;
                    padding-bottom: 3px;

                    & > p {
                        font-size: 18px;
                        line-height: 23px;
                    }

                    &__dropMenu {
                        top: 35px;
                    }
                }

                &__search {
                    width: 275px;
                }
            }

            &__products {
                &__product {
                    width: 200px;
                    margin-bottom: 40px;

                    & img {
                        height: 190px;
                    }

                    &__inf {
                        &__about {
                            font-size: 6px;
                            line-height: 8px;
                        }

                        &__name {
                            font-size: 16px;
                            line-height: 18px;
                        }

                        &__price {
                            font-size: 13px;
                            line-height: 15px;
                        }
                    }
                }
            }
        }
    }
}